<div class="col-md-6 user-container">
  <h2 style="margin: auto"> See What Everyones Talkin About</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="show"></th>

    </tr>
    </thead>
    <tbody>
    <tr >
      <td class="show"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><button class="btn btn-success" (click)="deleteUser(user)"> Delete</button>
        <button class="btn btn-success" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
<button class="btn btn-danger" style="width:100px" (click)="addMessage()"> Add Message</button>
