<nav>
    <ul>
        <li>
          <!-- link one -->
          <a href="#sign in"> Sign in </a>
        </li>
        <li>
          <!-- link two -->
           <a href="#Projects"> Projects </a>
        </li>
        <li>
          <!-- link three -->
          <a href="#Forums"> Forums </a>
        </li>
        <li>
          <!-- link four -->
          <a href="#Querys"> Querys </a>
        </li>
      </ul>

</nav>
<div class="forum">
  <h1>GEEK BOARD</h1>
</div>
<div class="welcome">
  <section><h2>WELCOME TO GEEK BOARD</h2><p>Post all questions below</p></section>
</div>
