<h1>Answers:</h1>
    <div>
        <input type="text" name="answer">
    </div>
    <div>
        <button type="submit">Answer</button>
    </div>
</form>

<ul>
{{#each answers}}
<h1>{{answers}}</h1>
{{/each}}
</ul>