<h1>Ask your question!!!</h1>
<form action="/question" method="POST">
    <div>
        <label for="question">Question: </label>
        <input type="text" name="question">
    </div>
    <div>
        <button type="submit">Ask?</button>
    </div>

<ul>
{{#each questions}}
<h1>{{questions}}</h1>
{{/each}}
</ul>